* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2.5rem;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choice {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1.8rem;
  margin-top: 3rem;
}
#user_score,
#comp_score {
  font-size: 4rem;
}
.msg_container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#msg {
  padding: 1rem;
  border-radius: 11px;
  font-size: 2rem;
  background-color: #081b31;
  color: #fff;
  display: inline-block;
}
